.tabLi{
    display: flex;
}

.tabLi li{
    flex: 1;
    list-style-type:none;
    background-color: yellowGreen;
    color: white;
    padding: 10px 20px;
    font-weight:bold;
    align-items: center;    
    justify-content: center;
    cursor:pointer;
}

.tabLi li.select{
    background-color: Green;
    color: white;
}

.tabLi li:hover{
    background-color: grey;
}

.tabLi button{
    background: none;
    outline: none;
}

.tabContainer textarea{
    border-color: greenyellow;
    resize: none;
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    outline-color: greenyellow;
    font-size: 20px;
}